<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hls.js/0.5.14/hls.min.js" integrity="sha512-js37JxjD6gtmJ3N2Qzl9vQm4wcmTilFffk0nTSKzgr3p6aitg73LR205203wTzCCC/NZYO2TAxSa0Lr2VMLQvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.socket.io/4.2.0/socket.io.min.js" integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj" crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script> -->								<script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port, {
        reconnection: false
        });
    const vs = document.getElementById('vs')
    const create_vs = document.getElementById('create_vs');
    const del_vs = document.getElementById('del_vs');
    const vs_status = document.getElementById('vs_status');
	//var player = videojs('hls-example');
    var video_container = document.getElementById('hls-container');
    
    const SOT = ['SIAMFC', 'Goturn', 'DLIB', 'CSRT', 'MIL', 'BOOSTING', 'MOSSE', 'KCF', 'TLD', 'MEDIANFLOW'];
    const MOT = ['SORT', 'DEEPSORT'];

    const tracker = document.getElementById('tracker')
    const setBox = document.getElementById('setBox');
    const deletetBox = document.getElementById('deleteBox');
    const load_tracker = document.getElementById('load_tracker');
    const tracker_status = document.getElementById('tracker_status');
    
    const model = document.getElementById('model');
    const load_model = document.getElementById('load_model');
    const model_status = document.getElementById('model_status');
    const streamer = document.getElementById('streamer');
    const start = document.getElementById('start');
    const stop = document.getElementById('stop');
    
    // Canvas 
    var c = document.createElement('canvas');
    c.id = 'canvas';
    var ctx = c.getContext("2d");
    var img = document.createElement('img');
    
    var x1, y1, w, h;
    box_started = false;
    
    function create_videoplayer(stream){
        //console.log(playlist);
        var video = document.createElement("video");
        video_container.appendChild(video);
        video.setAttribute('id', 'video');
        video.controls = true;
        video.height = 300;
        video.width = 400;

        var config = {
            autoStartLoad: true,
            startPosition: -1,
            debug: false,
            capLevelOnFPSDrop: false,
            capLevelToPlayerSize: false,
            defaultAudioCodec: undefined,
            initialLiveManifestSize: 1,
            maxBufferLength: 30,
            maxMaxBufferLength: 600,
            backBufferLength: Infinity,
            maxBufferSize: 60 * 1000 * 1000,
            maxBufferHole: 0.5,
            highBufferWatchdogPeriod: 2,
            nudgeOffset: 0.1,
            nudgeMaxRetry: 3,
            maxFragLookUpTolerance: 0.25,
            liveSyncDurationCount: 3,
            liveMaxLatencyDurationCount: Infinity,
            liveDurationInfinity: false,
            enableWorker: true,
            enableSoftwareAES: true,
            manifestLoadingTimeOut: 10000,
            manifestLoadingMaxRetry: 1,
            manifestLoadingRetryDelay: 1000,
            manifestLoadingMaxRetryTimeout: 64000,
            startLevel: undefined,
            levelLoadingTimeOut: 10000,
            levelLoadingMaxRetry: 4,
            levelLoadingRetryDelay: 1000,
            levelLoadingMaxRetryTimeout: 64000,
            fragLoadingTimeOut: 20000,
            fragLoadingMaxRetry: 6,
            fragLoadingRetryDelay: 1000,
            fragLoadingMaxRetryTimeout: 64000,
            startFragPrefetch: false,
            testBandwidth: true,
            progressive: false,
            lowLatencyMode: true,
            fpsDroppedMonitoringPeriod: 5000,
            fpsDroppedMonitoringThreshold: 0.2,
            appendErrorMaxRetry: 3,
           /*  loader: customLoader,
            fLoader: customFragmentLoader,
            pLoader: customPlaylistLoader,
            xhrSetup: XMLHttpRequestSetupCallback,
            fetchSetup: FetchSetupCallback,
            abrController: AbrController,
            bufferController: BufferController,
            capLevelController: CapLevelController,
            fpsController: FPSController,
            timelineController: TimelineController, */
            enableWebVTT: true,
            enableIMSC1: true,
            enableCEA708Captions: true,
            stretchShortVideoTrack: false,
            maxAudioFramesDrift: 1,
            forceKeyFrameOnDiscontinuity: true,
            abrEwmaFastLive: 3.0,
            abrEwmaSlowLive: 9.0,
            abrEwmaFastVoD: 3.0,
            abrEwmaSlowVoD: 9.0,
            abrEwmaDefaultEstimate: 500000,
            abrBandWidthFactor: 0.95,
            abrBandWidthUpFactor: 0.7,
            abrMaxWithRealBitrate: false,
            maxStarvationDelay: 4,
            maxLoadingDelay: 4,
            minAutoBitrate: 0,
            emeEnabled: false,
            widevineLicenseUrl: undefined,
            licenseXhrSetup: undefined,
            drmSystemOptions: {},
           /*  requestMediaKeySystemAccessFunc: requestMediaKeySystemAccess, */
            };

        var hls = new Hls();


        if (Hls.isSupported()) {
            // bind them together
            hls.attachMedia(video);
            hls.on(Hls.Events.MEDIA_ATTACHED, function () {
            console.log('video and hls.js are now bound together !');
            hls.loadSource('http://52.247.58.8/hls/' + stream + '/index.m3u8');
            hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
                console.log(
                'manifest loaded, found ' + data.levels.length + ' quality level'
                );
            });
            });
            hls.on(Hls.Events.ERROR, function (event, data) {
            if (data.fatal) {
                switch (data.type) {
                case Hls.ErrorTypes.NETWORK_ERROR:
                    // try to recover network error
                    console.log('fatal network error encountered, try to recover');
                    hls.startLoad();
                    hls.loadSource('http://52.247.58.8/hls/' + stream + '/index.m3u8');
                    
                    break;
                case Hls.ErrorTypes.MEDIA_ERROR:
                    console.log('fatal media error encountered, try to recover');
                    hls.loadSource('http://52.247.58.8/hls/' + stream + '/index.m3u8');
                    //hls.recoverMediaError();
                    break;
                default:
                    // cannot recover
                    hls.destroy();
                    break;
                }
            }
            });
            
            hls.on(Hls.Events.FRAG_LOADED, function(event, data) {
            console.log(data);
            console.log(hls.bandwidthEstimate);
            //hls.loadSource('http://52.247.58.8/hls/' + stream + '/index.m3u8');
        });
        }

        //video.play();
        //var sourceMP4 = document.createElement("source");
        //sourceMP4.type = "application/x-mpegURL";
        //sourceMP4.src = `static/hls/${playlist}.m3u8`;
        //videlem.appendChild(sourceMP4);
        //videlem.controls = true;
        //videlem.height = 300;
        //videlem.width = 400;
        //video_container.appendChild(videlem);
        
        //videlem.classList.add('video-js');
        //videlem.classList.add('vjs-default-skin');
        //var player = videojs('hls2');
        //var hls = new Hls();
    }

    function onchange_tracker(){
        try{
            Plotly.purge('success_plot');
            Plotly.purge('precision_plot');
        }
        catch{
            console.log('Plots already deleted');
        }


        
        console.log(tracker.value);
        if(SOT.includes(tracker.value)){ 
            streamer.appendChild(c);
            socket.emit('init_tracker');
            tracker_status.innerHTML = 'Select a bounding box!';
        }
        else if(MOT.includes(tracker.value)){
            tracker_status.innerHTML = '';
            try {
                streamer.removeChild(c);
            }
            catch(e){
                console.log('Canvas already removed');
            }
            console.log('Child Removed.')
        }
    }

    create_vs.addEventListener('click', function(e){
        vs_status.innerHTML = 'Video Loaded.';
        socket.emit('create_vs', vs.value);
        console.log('Video Source Created');
    });

   /*  del_vs.addEventListener('click', function(e){
        socket.emit('delete_vs');
        vs_status.innerHTML = 'Video Deleted.'
        console.log('Video Source Deleted');
    }); */

    c.addEventListener("click", function(e){
        if(box_started == false){
            ctx.drawImage(img, 0, 0);
            x1 = e.offsetX, y1 = e.offsetY;
            console.log('Box started');
            box_started = true;
        }
        else{
            w = e.offsetX - x1;
            h = e.offsetY - y1;
            box_started = false;
            console.log('Box ended');
            
        } 
    });

    c.addEventListener('mousemove', function(e){
        if(box_started == true){
            ctx.clearRect(0, 0, c.width, c.height);
            ctx.drawImage(img, 0, 0);
            ctx.beginPath();
            w = e.offsetX - x1;
            h = e.offsetY - y1;
            ctx.rect(x1, y1, w, h);
            ctx.stroke();
        }
    });

    load_model.addEventListener('click', function(e){
        socket.emit('det', model.value);
        model_status.innerHTML = 'Model Loaded.'
        console.log('Model Loaded');
    });

    load_tracker.addEventListener('click', function(e){
        if(SOT.includes(tracker.value)){
            //drawCanvas();
            const box = [x1, y1, w, h];
            console.log(tracker.value);
            playlist = vs.value.split('.')[0] + tracker.value;
            console.log(playlist);
            socket.emit('trk', tracker.value, box, playlist);
        }
        else{
            console.log(tracker.value);
            socket.emit('trk', tracker.value, [0,0,0,0]);
        }

        tracker_status.innerHTML = 'Tracker Loaded.'
        console.log('Tracker Loaded');

       
    });

    start.addEventListener('click', function(e){
        playlist = vs.value.split('.')[0] + tracker.value;
        //playlist = 'event';
        create_videoplayer(playlist);
        if(SOT.includes(tracker.value)){
            streamer.removeChild(c);
        } 
        //streamer.appendChild(img);
        //socket.emit('start', playlist);
        vs_status.innerHTML = '';
        model_status.innerHTML = '';
        tracker_status.innerHTML = '';
    });

    stop.addEventListener('click', function(e){
        socket.emit('stop');
        img.src = ''
        vs.value = 'None';
        tracker.value = 'None';
        model.value = 'None';
        try{
            streamer.removeChild(img);
        }
        catch{
            console.log('No child to remove');
        }
        
    });
    
    socket.on('init_frame', function(msg){
        c.width = msg.size[1];
        c.height = msg.size[0];
        img.src = msg.image;
        img.onload = function(){
            ctx.drawImage(img, 0, 0);
        };
    })

    socket.on('vs', function(url){
        img.src = url;
        if(url == ''){
            console.log('Tracking Stopped')
        }
        else{
            console.log('Tracking Started')
        }
    });

    socket.on('plot_graphs', function(success){
        console.log(success);
        x1= JSON.parse(success['x'][0]);
        y1 = JSON.parse(success['y'][0]);
        var trace1 = {
            x: x1,
            y: y1,
            type: 'scatter'
        };
        var layout1 = { 
            width: 500,
            height: 500,
            title:'OPE - IoU Overlap',
            xaxis: {
                title: 'IoU threshold'
            },
            yaxis: {
                title: 'Success Rate'
            }        
        };
        var success_plot = [trace1];
        Plotly.newPlot('success_plot', success_plot, layout1);
        
        x2 = JSON.parse(success['x'][1]);
        y2 = JSON.parse(success['y'][1]);
        var trace2 = {
            x: x2,
            y: y2,
            type: 'scatter'
        }; 
        var layout2 = { 
            width: 500,
            height: 500,
            title:'OPE - Precision',
            xaxis: {
                title: 'Location threshold'
            },
            yaxis: {
                title: 'Success Rate'
            }        
        };
        var precision_plot = [trace2];
        Plotly.newPlot('precision_plot', precision_plot, layout2);

    });

    
    
</script> 
</html>
